<footer class="mt2">
  <div class="max-width-4 mx-auto pb2">
    <div class="clearfix">
      <hr>
      <div>
        <p class="site-title mb0">{{ .Site.Title }}</p>
        {{ if .Site.Params.description }}
        <small class="text-light mr2">{{ .Site.Params.description }}</small>
        {{ end }}
        <small class="text-light mr2"><a href="/categories/index.html">카테고리</a></small>
        <small class="text-light"><a href="/tags/index.html">태그</a></small>
      </div>
      <div class="pt1 max-width-2 mx-auto">
        <script>
          (function () {
            var cx = '010194064233066952761:3xsz9hiygms';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
      <div class="text-light mt2 text-center text-light">
        <p class="copy">{{ .Site.Copyright | safeHTML }}</p>
      </div>
    </div>
  </div>
</footer>