/* Color */
$color-primary: #0075c1;
$color-secondary: #a61169;
$color-dark: #222f3e;
$color-light: #596275;
$color-white: #ffffff;

/* Typography */
$font-stack: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
