html {
  background: var(--color-background);
  font-family: var(--font-stack);
}

code {
  font-family: var(--font-monospace-stack);
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text);
  a {
    color: var(--color-text);
    &:visited {
      color: color(var(--color-text) tint(5%));
    }
  }
}

article p, .card p, code {
  font-size: 12pt;
  line-height: 1.75em;
}

small, p {
  font-weight: 500;
}

article h1 {
  font-size: 2em !important;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--color-secondary);
}

.content img {
  max-width: 100%;
}

.text-muted a {
  color: var(--color-text-muted);
  text-decoration: underline;
  &:hover {
    color: color(var(--color-text-muted) shade(10%));
  }
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre code {
  display: block;
  padding: 0.5rem 1rem;
}

.gsc-control-cse {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
