.gsc-selected-option-container {
	box-sizing:content-box;
}

.gsc-table-result {
	border-collapse: separate;
}

header .navbar-header, form.navbar-form.navbar-right {
	padding-top: 5.5px;
	padding-bottom: 5.5px;
}

img.w-full {
	width: auto !important;
	max-width: 100%;
}
