h2 {
  font-size: 2rem;
}

h3,
article h1 {
  font-size: 1.6rem;
}

article h2 {
  font-size: 1.5rem;
}

article h3 {
  font-size: 1.4rem;
}

article h4 {
  font-size: 1.3rem;
}

article h5 {
  font-size: 1.2rem;
}

article h6 {
  font-size: 1.1rem;
}

.cat-Camera,
.cat-Camera:hover {
  color: #3f51b5;
}

.cat-Dev,
.cat-Dev:hover {
  color: #43a047;
}

.cat-Game,
.cat-Game:hover {
  color: #fb8c00;
}

.cat-Life,
.cat-Life:hover {
  color: #f44336;
}

.cat-Movie,
.cat-Movie:hover {
  color: #e91e63;
}

.cat-Music,
.cat-Music:hover {
  color: #9c27b0;
}

.cat-Tech,
.cat-Tech:hover {
  color: #00838f;
}

.cat-Travel,
.cat-Travel:hover {
  color: #1e88e5;
}
