h2 {
  font-size: 2rem;
}

h3,
article h1 {
  font-size: 1.6rem;
}

article h2 {
  font-size: 1.5rem;
}

article h3 {
  font-size: 1.4rem;
}

article h4 {
  font-size: 1.3rem;
}

article h5 {
  font-size: 1.2rem;
}

article h6 {
  font-size: 1.1rem;
}

.cat-Camera,
a.cat-Camera:hover,
a.nav-Camera,
a.nav-Camera:hover {
  color: #f44336 !important;
}

.cat-Dev,
a.cat-Dev:hover,
a.nav-Dev,
a.nav-Dev:hover {
  color: #e91e63 !important;
}

.cat-Game,
a.cat-Game:hover,
a.nav-Game,
a.nav-Game:hover {
  color: #9c27b0 !important;
}

.cat-Life,
a.cat-Life:hover,
a.nav-Life,
a.nav-Life:hover {
  color: #3f51b5 !important;
}

.cat-Movie,
a.cat-Movie:hover,
a.nav-Movie,
a.nav-Movie:hover {
  color: #1e88e5 !important;
}

.cat-Music,
a.cat-Music:hover,
a.nav-Music,
a.nav-Music:hover {
  color: #00838f !important;
}

.cat-Tech,
a.cat-Tech:hover,
a.nav-Tech,
a.nav-Tech:hover {
  color: #43a047 !important;
}

.cat-Travel,
a.cat-Travel:hover,
a.nav-Travel,
a.nav-Travel:hover {
  color: #fb8c00 !important;
}

#navbarNav > ul > li > a.active {
  font-weight: 700;
}
