ul.pagination {
  list-style-type: none;
  display: flex;
  padding: 0;
  width: 100%;
  li {
    flex: 1;
    width: 100%;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 2px;
    box-sizing: border-box;
    margin-left: .5em;
    margin-right: .5em;
    a {
      width: 100%;
      height: 100%;
      display: inline-block;
      &:visited {
        color: $color-primary;
      }
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      background-color: $color-primary;
      a {
        color: $color-white;
      }
    }
    &.active {
      background-color: $color-primary;
      &:hover {
        background-color: lighten($color-primary, 5%);
      }
      a {
        color: $color-white;
      }
    }
    &.disabled {
      &:hover {
        background-color: transparent;
      }
      a {
        color: $color-light;
      }
    }
  }
}
